USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_DSNHANVIEN_MACN]    Script Date: 05/07/2018 07:50:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_DSNHANVIEN_MACN]
@MACN NVARCHAR(10)
AS
SELECT  
USER_ID,
USER_PASS,
GROUP_LIST,
MANV,
TENNV,
CHUCVU,
MACN,
GHICHU,
MAPB,
KICHHOAT,
GIOITINH
FROM _USER, NHANVIEN
WHERE MACN = @MACN and
NHANVIEN.MANV = _USER.MANV