USE [CRM]
GO
/****** Object:  StoredProcedure [dbo].[DV_LAYTENPHONGBAN]    Script Date: 04/30/2018 21:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[DV_LAYTENPHONGBAN]
@MAPB NVARCHAR(50)
AS
IF (SELECT HS FROM PHONGBAN WHERE MAPB = @MAPB) = 0
SELECT TENPB
FROM PHONGBAN
WHERE 
MAPB = @MAPB
ELSE
SELECT TENCN
FROM CHINHANH
WHERE 
(SELECT MACN FROM PHONGBAN WHERE MAPB = @MAPB) = MACN