USE [AGRIBANKHD]
GO
/****** Object:  StoredProcedure [dbo].[CAP_NHAT_TSTC]    Script Date: 03/15/2017 16:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[CAP_NHAT_TSTC] 
	-- Add the parameters for the stored procedure here
	@ma_ts_the_chap int,	--@ma_hd_vay nvarchar(50),	--@loai_chu_so_huu nvarchar(50),	--@loai_ts_the_chap nvarchar(50),	--@hinh_thuc_so_huu_cua_kh_vay nvarchar(50),	@hgd_ten_chong nvarchar(50),	@hgd_ns_chong nvarchar(15),	@hgd_cmnd_chong nvarchar(50),	@hgd_ngay_cap_cmnd_chong nvarchar(15),	@hgd_noi_cap_cmnd_chong nvarchar(50),	@hgd_dc_chong nvarchar(MAX),	@hgd_hktt_chong nvarchar(MAX),	@hgd_so_hk_chong nvarchar(50),	@hgd_noi_cap_hk_chong nvarchar(50),	@hgd_ngay_cap_hk_chong nvarchar(15),	@hgd_ten_vo nvarchar(50),	@hgd_ns_vo nvarchar(15),	@hgd_cmnd_vo nvarchar(50),	@hgd_ngay_cap_cmnd_vo nvarchar(15),	@hgd_noi_cap_cmnd_vo nvarchar(50),	@hgd_dc_vo nvarchar(MAX),	@hgd_hktt_vo nvarchar(MAX),	@hgd_so_hk_vo nvarchar(50),	@hgd_noi_cap_hk_vo nvarchar(50),	@hgd_ngay_cap_hk_vo nvarchar(15),	@hgd_dkkd nvarchar(MAX),	@hgd_dien_thoai nvarchar(15),	@hgd_fax nvarchar(15),	@hgd_email nvarchar(50),	@hgd_dai_dien nvarchar(50),	@hgd_nguoi_so_huu nvarchar(50),	@cn_danh_xung nvarchar(50),	@cn_ten nvarchar(50),	@cn_ns nvarchar(15),	@cn_cmnd nvarchar(50),	@cn_ngay_cap_cmnd nvarchar(15),	@cn_noi_cap_cmnd nvarchar(50),	@cn_dc nvarchar(MAX),	@cn_hktt nvarchar(MAX),	@cn_so_hk nvarchar(50),	@cn_noi_cap_hk nvarchar(50),	@cn_ngay_cap_hk nvarchar(15),	@cn_dkkd nvarchar(MAX),	@cn_dien_thoai nvarchar(15),	@cn_fax nvarchar(15),	@cn_email nvarchar(50),	@tc_ten nvarchar(MAX),	@tc_dkkd nvarchar(MAX),	@tc_dc nvarchar(MAX),	@tc_danh_xung_dai_dien nvarchar(50),	@tc_dai_dien nvarchar(50),	@tc_ns_dai_dien nvarchar(15),	@tc_chuc_vu_dai_dien nvarchar(50),	@tc_giay_uy_quyen nvarchar(MAX),	@tc_dc_dai_dien nvarchar(MAX),	@tc_cmnd_dai_dien nvarchar(50),	@tc_ngay_cap_cmnd_dai_dien nvarchar(15),	@tc_noi_cap_cmnd_dai_dien nvarchar(50),	@tc_hktt_dai_dien nvarchar(MAX),	@tc_so_hk_dai_dien nvarchar(50),	@tc_noi_cap_hk_dai_dien nvarchar(50),	@tc_ngay_cap_hk_dai_dien nvarchar(15),	@tc_dien_thoai nvarchar(15),	@tc_fax nvarchar(15),	@tc_email nvarchar(50),	@ds_ten nvarchar(MAX),	@ds_nhan_hieu nvarchar(50),	@ds_thong_tin_chung_rtf nvarchar(MAX),	@ds_thong_tin_chung nvarchar(MAX),	@ds_giay_to nvarchar(MAX),	@ds_gia_tri bigint,	@bds_ten nvarchar(MAX),	@bds_tong_dien_tich decimal(7,2),	@bds_gia_tri_qsd_dat bigint,	@bds_dien_tich_dat_o decimal(7,2),	@bds_gia_tri_qsd_dat_o_tren_m2 bigint,	@bds_gia_tri_qsd_dat_o bigint,	@bds_dat_khac_1 nvarchar(MAX),	@bds_dien_tich_dat_khac_1 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_1_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_1 bigint,	@bds_dat_khac_2 nvarchar(MAX),	@bds_dien_tich_dat_khac_2 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_2_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_2 bigint,	@bds_dat_khac_3 nvarchar(MAX),	@bds_dien_tich_dat_khac_3 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_3_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_3 bigint,	@bds_dien_tich_su_dung_rieng decimal(7,2),	@bds_dien_tich_su_dung_chung decimal(7,2),	@bds_thong_tin_chung_rtf nvarchar(MAX),	@bds_thong_tin_chung nvarchar(MAX),	@bds_giay_to_rtf nvarchar(MAX),	@bds_giay_to nvarchar(MAX),	@bds_nha_thong_tin_chung_rtf nvarchar(MAX),	@bds_nha_thong_tin_chung nvarchar(MAX),	@bds_nha_gia_tri bigint,	@bds_ctxd_thong_tin_chung_rtf nvarchar(MAX),	@bds_ctxd_thong_tin_chung nvarchar(MAX),	@bds_ctxd_gia_tri bigint,	@bds_tsgl_khac_thong_tin_chung_rtf nvarchar(MAX),	@bds_tsgl_khac_thong_tin_chung nvarchar(MAX),	@bds_tsgl_khac_gia_tri bigint,	@bds_gia_tri bigint,	@tstc_khac_ten nvarchar(MAX),	@tstc_khac_thong_tin_chung_rtf nvarchar(MAX),	@tstc_khac_thong_tin_chung nvarchar(MAX),	@tstc_khac_gia_tri bigint,	@tstc_htttl bit,
	@tstc_khac_giay_to nvarchar(MAX),
	@bds_ctxd_2 nvarchar(MAX),
	@ma_chu_so_huu nvarchar(50)
AS
UPDATE [dbo].[TD.TS_THE_CHAP] SET
	--[MA_TS_THE_CHAP] = @ma_ts_the_chap	--[MA_HD_VAY] = @ma_hd_vay	--[LOAI_CHU_SO_HUU] = @loai_chu_so_huu	--,[LOAI_TS_THE_CHAP] = @loai_ts_the_chap	--[HINH_THUC_SO_HUU_CUA_KH_VAY] = @hinh_thuc_so_huu_cua_kh_vay	[HGD_TEN_CHONG] = @hgd_ten_chong	,[HGD_NS_CHONG] = @hgd_ns_chong	,[HGD_CMND_CHONG] = @hgd_cmnd_chong	,[HGD_NGAY_CAP_CMND_CHONG] = @hgd_ngay_cap_cmnd_chong	,[HGD_NOI_CAP_CMND_CHONG] = @hgd_noi_cap_cmnd_chong	,[HGD_DC_CHONG] = @hgd_dc_chong	,[HGD_HKTT_CHONG] = @hgd_hktt_chong	,[HGD_SO_HK_CHONG] = @hgd_so_hk_chong	,[HGD_NOI_CAP_HK_CHONG] = @hgd_noi_cap_hk_chong	,[HGD_NGAY_CAP_HK_CHONG] = @hgd_ngay_cap_hk_chong	,[HGD_TEN_VO] = @hgd_ten_vo	,[HGD_NS_VO] = @hgd_ns_vo	,[HGD_CMND_VO] = @hgd_cmnd_vo	,[HGD_NGAY_CAP_CMND_VO] = @hgd_ngay_cap_cmnd_vo	,[HGD_NOI_CAP_CMND_VO] = @hgd_noi_cap_cmnd_vo	,[HGD_DC_VO] = @hgd_dc_vo	,[HGD_HKTT_VO] = @hgd_hktt_vo	,[HGD_SO_HK_VO] = @hgd_so_hk_vo	,[HGD_NOI_CAP_HK_VO] = @hgd_noi_cap_hk_vo	,[HGD_NGAY_CAP_HK_VO] = @hgd_ngay_cap_hk_vo	,[HGD_DKKD] = @hgd_dkkd	,[HGD_DIEN_THOAI] = @hgd_dien_thoai	,[HGD_FAX] = @hgd_fax	,[HGD_EMAIL] = @hgd_email	,[HGD_DAI_DIEN] = @hgd_dai_dien	,[HGD_NGUOI_SO_HUU] = @hgd_nguoi_so_huu	,[CN_DANH_XUNG] = @cn_danh_xung	,[CN_TEN] = @cn_ten	,[CN_NS] = @cn_ns	,[CN_CMND] = @cn_cmnd	,[CN_NGAY_CAP_CMND] = @cn_ngay_cap_cmnd	,[CN_NOI_CAP_CMND] = @cn_noi_cap_cmnd	,[CN_DC] = @cn_dc	,[CN_HKTT] = @cn_hktt	,[CN_SO_HK] = @cn_so_hk	,[CN_NOI_CAP_HK] = @cn_noi_cap_hk	,[CN_NGAY_CAP_HK] = @cn_ngay_cap_hk	,[CN_DKKD] = @cn_dkkd	,[CN_DIEN_THOAI] = @cn_dien_thoai	,[CN_FAX] = @cn_fax	,[CN_EMAIL] = @cn_email	,[TC_TEN] = @tc_ten	,[TC_DKKD] = @tc_dkkd	,[TC_DC] = @tc_dc	,[TC_DANH_XUNG_DAI_DIEN] = @tc_danh_xung_dai_dien	,[TC_DAI_DIEN] = @tc_dai_dien	,[TC_NS_DAI_DIEN] = @tc_ns_dai_dien	,[TC_CHUC_VU_DAI_DIEN] = @tc_chuc_vu_dai_dien	,[TC_GIAY_UY_QUYEN] = @tc_giay_uy_quyen	,[TC_DC_DAI_DIEN] = @tc_dc_dai_dien	,[TC_CMND_DAI_DIEN] = @tc_cmnd_dai_dien	,[TC_NGAY_CAP_CMND_DAI_DIEN] = @tc_ngay_cap_cmnd_dai_dien	,[TC_NOI_CAP_CMND_DAI_DIEN] = @tc_noi_cap_cmnd_dai_dien	,[TC_HKTT_DAI_DIEN] = @tc_hktt_dai_dien	,[TC_SO_HK_DAI_DIEN] = @tc_so_hk_dai_dien	,[TC_NOI_CAP_HK_DAI_DIEN] = @tc_noi_cap_hk_dai_dien	,[TC_NGAY_CAP_HK_DAI_DIEN] = @tc_ngay_cap_hk_dai_dien	,[TC_DIEN_THOAI] = @tc_dien_thoai	,[TC_FAX] = @tc_fax	,[TC_EMAIL] = @tc_email	,[DS_TEN] = @ds_ten	,[DS_NHAN_HIEU] = @ds_nhan_hieu	,[DS_THONG_TIN_CHUNG_RTF] = @ds_thong_tin_chung_rtf	,[DS_THONG_TIN_CHUNG] = @ds_thong_tin_chung	,[DS_GIAY_TO] = @ds_giay_to	,[DS_GIA_TRI] = @ds_gia_tri	,[BDS_TEN] = @bds_ten	,[BDS_TONG_DIEN_TICH] = @bds_tong_dien_tich	,[BDS_GIA_TRI_QSD_DAT] = @bds_gia_tri_qsd_dat	,[BDS_DIEN_TICH_DAT_O] = @bds_dien_tich_dat_o	,[BDS_GIA_TRI_QSD_DAT_O_TREN_M2] = @bds_gia_tri_qsd_dat_o_tren_m2	,[BDS_GIA_TRI_QSD_DAT_O] = @bds_gia_tri_qsd_dat_o	,[BDS_DAT_KHAC_1] = @bds_dat_khac_1	,[BDS_DIEN_TICH_DAT_KHAC_1] = @bds_dien_tich_dat_khac_1	,[BDS_GIA_TRI_QSD_DAT_KHAC_1_TREN_M2] = @bds_gia_tri_qsd_dat_khac_1_tren_m2	,[BDS_GIA_TRI_QSD_DAT_KHAC_1] = @bds_gia_tri_qsd_dat_khac_1	,[BDS_DAT_KHAC_2] = @bds_dat_khac_2	,[BDS_DIEN_TICH_DAT_KHAC_2] = @bds_dien_tich_dat_khac_2	,[BDS_GIA_TRI_QSD_DAT_KHAC_2_TREN_M2] = @bds_gia_tri_qsd_dat_khac_2_tren_m2	,[BDS_GIA_TRI_QSD_DAT_KHAC_2] = @bds_gia_tri_qsd_dat_khac_2	,[BDS_DAT_KHAC_3] = @bds_dat_khac_3	,[BDS_DIEN_TICH_DAT_KHAC_3] = @bds_dien_tich_dat_khac_3	,[BDS_GIA_TRI_QSD_DAT_KHAC_3_TREN_M2] = @bds_gia_tri_qsd_dat_khac_3_tren_m2	,[BDS_GIA_TRI_QSD_DAT_KHAC_3] = @bds_gia_tri_qsd_dat_khac_3	,[BDS_DIEN_TICH_SU_DUNG_RIENG] = @bds_dien_tich_su_dung_rieng	,[BDS_DIEN_TICH_SU_DUNG_CHUNG] = @bds_dien_tich_su_dung_chung	,[BDS_THONG_TIN_CHUNG_RTF] = @bds_thong_tin_chung_rtf	,[BDS_THONG_TIN_CHUNG] = @bds_thong_tin_chung	,[BDS_GIAY_TO_RTF] = @bds_giay_to_rtf	,[BDS_GIAY_TO] = @bds_giay_to	,[BDS_NHA_THONG_TIN_CHUNG_RTF] = @bds_nha_thong_tin_chung_rtf	,[BDS_NHA_THONG_TIN_CHUNG] = @bds_nha_thong_tin_chung	,[BDS_NHA_GIA_TRI] = @bds_nha_gia_tri	,[BDS_CTXD_THONG_TIN_CHUNG_RTF] = @bds_ctxd_thong_tin_chung_rtf	,[BDS_CTXD_THONG_TIN_CHUNG] = @bds_ctxd_thong_tin_chung	,[BDS_CTXD_GIA_TRI] = @bds_ctxd_gia_tri	,[BDS_TSGL_KHAC_THONG_TIN_CHUNG_RTF] = @bds_tsgl_khac_thong_tin_chung_rtf	,[BDS_TSGL_KHAC_THONG_TIN_CHUNG] = @bds_tsgl_khac_thong_tin_chung	,[BDS_TSGL_KHAC_GIA_TRI] = @bds_tsgl_khac_gia_tri	,[BDS_GIA_TRI] = @bds_gia_tri	,[TSTC_KHAC_TEN] = @tstc_khac_ten	,[TSTC_KHAC_THONG_TIN_CHUNG_RTF] = @tstc_khac_thong_tin_chung_rtf	,[TSTC_KHAC_THONG_TIN_CHUNG] = @tstc_khac_thong_tin_chung	,[TSTC_KHAC_GIA_TRI] = @tstc_khac_gia_tri	,[TSTC_HTTTL] = @tstc_htttl
	,[TSTC_KHAC_GIAY_TO] = @tstc_khac_giay_to
	,[BDS_CTXD_2] = @bds_ctxd_2
	,[MA_CHU_SO_HUU] = @ma_chu_so_huu
    WHERE [MA_TS_THE_CHAP]=@ma_ts_the_chap

