USE [AGRIBANKHD]
GO
/****** Object:  StoredProcedure [dbo].[THEM_TSTC]    Script Date: 03/15/2017 16:53:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[THEM_TSTC] 
	-- Add the parameters for the stored procedure here
	--@ma_ts_the_chap int,	@ma_hd_vay nvarchar(50),	@loai_chu_so_huu nvarchar(50),	@loai_ts_the_chap nvarchar(50),	@hinh_thuc_so_huu_cua_kh_vay nvarchar(50),	@hgd_ten_chong nvarchar(50),	@hgd_ns_chong nvarchar(15),	@hgd_cmnd_chong nvarchar(50),	@hgd_ngay_cap_cmnd_chong nvarchar(15),	@hgd_noi_cap_cmnd_chong nvarchar(50),	@hgd_dc_chong nvarchar(MAX),	@hgd_hktt_chong nvarchar(MAX),	@hgd_so_hk_chong nvarchar(50),	@hgd_noi_cap_hk_chong nvarchar(50),	@hgd_ngay_cap_hk_chong nvarchar(15),	@hgd_ten_vo nvarchar(50),	@hgd_ns_vo nvarchar(15),	@hgd_cmnd_vo nvarchar(50),	@hgd_ngay_cap_cmnd_vo nvarchar(15),	@hgd_noi_cap_cmnd_vo nvarchar(50),	@hgd_dc_vo nvarchar(MAX),	@hgd_hktt_vo nvarchar(MAX),	@hgd_so_hk_vo nvarchar(50),	@hgd_noi_cap_hk_vo nvarchar(50),	@hgd_ngay_cap_hk_vo nvarchar(15),	@hgd_dkkd nvarchar(MAX),	@hgd_dien_thoai nvarchar(15),	@hgd_fax nvarchar(15),	@hgd_email nvarchar(50),	@hgd_dai_dien nvarchar(50),	@hgd_nguoi_so_huu nvarchar(50),	@cn_danh_xung nvarchar(50),	@cn_ten nvarchar(50),	@cn_ns nvarchar(15),	@cn_cmnd nvarchar(50),	@cn_ngay_cap_cmnd nvarchar(15),	@cn_noi_cap_cmnd nvarchar(50),	@cn_dc nvarchar(MAX),	@cn_hktt nvarchar(MAX),	@cn_so_hk nvarchar(50),	@cn_noi_cap_hk nvarchar(50),	@cn_ngay_cap_hk nvarchar(15),	@cn_dkkd nvarchar(MAX),	@cn_dien_thoai nvarchar(15),	@cn_fax nvarchar(15),	@cn_email nvarchar(50),	@tc_ten nvarchar(MAX),	@tc_dkkd nvarchar(MAX),	@tc_dc nvarchar(MAX),	@tc_danh_xung_dai_dien nvarchar(50),	@tc_dai_dien nvarchar(50),	@tc_ns_dai_dien nvarchar(15),	@tc_chuc_vu_dai_dien nvarchar(50),	@tc_giay_uy_quyen nvarchar(MAX),	@tc_dc_dai_dien nvarchar(MAX),	@tc_cmnd_dai_dien nvarchar(50),	@tc_ngay_cap_cmnd_dai_dien nvarchar(15),	@tc_noi_cap_cmnd_dai_dien nvarchar(50),	@tc_hktt_dai_dien nvarchar(MAX),	@tc_so_hk_dai_dien nvarchar(50),	@tc_noi_cap_hk_dai_dien nvarchar(50),	@tc_ngay_cap_hk_dai_dien nvarchar(15),	@tc_dien_thoai nvarchar(15),	@tc_fax nvarchar(15),	@tc_email nvarchar(50),	@ds_ten nvarchar(MAX),	@ds_nhan_hieu nvarchar(50),	@ds_thong_tin_chung_rtf nvarchar(MAX),	@ds_thong_tin_chung nvarchar(MAX),	@ds_giay_to nvarchar(MAX),	@ds_gia_tri bigint,	@bds_ten nvarchar(MAX),	@bds_tong_dien_tich decimal(7,2),	@bds_gia_tri_qsd_dat bigint,	@bds_dien_tich_dat_o decimal(7,2),	@bds_gia_tri_qsd_dat_o_tren_m2 bigint,	@bds_gia_tri_qsd_dat_o bigint,	@bds_dat_khac_1 nvarchar(MAX),	@bds_dien_tich_dat_khac_1 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_1_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_1 bigint,	@bds_dat_khac_2 nvarchar(MAX),	@bds_dien_tich_dat_khac_2 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_2_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_2 bigint,	@bds_dat_khac_3 nvarchar(MAX),	@bds_dien_tich_dat_khac_3 decimal(7,2),	@bds_gia_tri_qsd_dat_khac_3_tren_m2 bigint,	@bds_gia_tri_qsd_dat_khac_3 bigint,	@bds_dien_tich_su_dung_rieng decimal(7,2),	@bds_dien_tich_su_dung_chung decimal(7,2),	@bds_thong_tin_chung_rtf nvarchar(MAX),	@bds_thong_tin_chung nvarchar(MAX),	@bds_giay_to_rtf nvarchar(MAX),	@bds_giay_to nvarchar(MAX),	@bds_nha_thong_tin_chung_rtf nvarchar(MAX),	@bds_nha_thong_tin_chung nvarchar(MAX),	@bds_nha_gia_tri bigint,	@bds_ctxd_thong_tin_chung_rtf nvarchar(MAX),	@bds_ctxd_thong_tin_chung nvarchar(MAX),	@bds_ctxd_gia_tri bigint,	@bds_tsgl_khac_thong_tin_chung_rtf nvarchar(MAX),	@bds_tsgl_khac_thong_tin_chung nvarchar(MAX),	@bds_tsgl_khac_gia_tri bigint,	@bds_gia_tri bigint,	@tstc_khac_ten nvarchar(MAX),	@tstc_khac_thong_tin_chung_rtf nvarchar(MAX),	@tstc_khac_thong_tin_chung nvarchar(MAX),	@tstc_khac_gia_tri bigint,	@tstc_htttl bit,
	@tstc_khac_giay_to nvarchar(MAX),
	@bds_ctxd_2 nvarchar(MAX),
	@ma_chu_so_huu nvarchar(50)
AS
INSERT INTO [dbo].[TD.TS_THE_CHAP]
           (--[MA_TS_THE_CHAP],			[MA_HD_VAY],			[LOAI_CHU_SO_HUU],			[LOAI_TS_THE_CHAP],			[HINH_THUC_SO_HUU_CUA_KH_VAY],			[HGD_TEN_CHONG],			[HGD_NS_CHONG],			[HGD_CMND_CHONG],			[HGD_NGAY_CAP_CMND_CHONG],			[HGD_NOI_CAP_CMND_CHONG],			[HGD_DC_CHONG],			[HGD_HKTT_CHONG],			[HGD_SO_HK_CHONG],			[HGD_NOI_CAP_HK_CHONG],			[HGD_NGAY_CAP_HK_CHONG],			[HGD_TEN_VO],			[HGD_NS_VO],			[HGD_CMND_VO],			[HGD_NGAY_CAP_CMND_VO],			[HGD_NOI_CAP_CMND_VO],			[HGD_DC_VO],			[HGD_HKTT_VO],			[HGD_SO_HK_VO],			[HGD_NOI_CAP_HK_VO],			[HGD_NGAY_CAP_HK_VO],			[HGD_DKKD],			[HGD_DIEN_THOAI],			[HGD_FAX],			[HGD_EMAIL],			[HGD_DAI_DIEN],			[HGD_NGUOI_SO_HUU],			[CN_DANH_XUNG],			[CN_TEN],			[CN_NS],			[CN_CMND],			[CN_NGAY_CAP_CMND],			[CN_NOI_CAP_CMND],			[CN_DC],			[CN_HKTT],			[CN_SO_HK],			[CN_NOI_CAP_HK],			[CN_NGAY_CAP_HK],			[CN_DKKD],			[CN_DIEN_THOAI],			[CN_FAX],			[CN_EMAIL],			[TC_TEN],			[TC_DKKD],			[TC_DC],			[TC_DANH_XUNG_DAI_DIEN],			[TC_DAI_DIEN],			[TC_NS_DAI_DIEN],			[TC_CHUC_VU_DAI_DIEN],			[TC_GIAY_UY_QUYEN],			[TC_DC_DAI_DIEN],			[TC_CMND_DAI_DIEN],			[TC_NGAY_CAP_CMND_DAI_DIEN],			[TC_NOI_CAP_CMND_DAI_DIEN],			[TC_HKTT_DAI_DIEN],			[TC_SO_HK_DAI_DIEN],			[TC_NOI_CAP_HK_DAI_DIEN],			[TC_NGAY_CAP_HK_DAI_DIEN],			[TC_DIEN_THOAI],			[TC_FAX],			[TC_EMAIL],			[DS_TEN],			[DS_NHAN_HIEU],			[DS_THONG_TIN_CHUNG_RTF],			[DS_THONG_TIN_CHUNG],			[DS_GIAY_TO],			[DS_GIA_TRI],			[BDS_TEN],			[BDS_TONG_DIEN_TICH],			[BDS_GIA_TRI_QSD_DAT],			[BDS_DIEN_TICH_DAT_O],			[BDS_GIA_TRI_QSD_DAT_O_TREN_M2],			[BDS_GIA_TRI_QSD_DAT_O],			[BDS_DAT_KHAC_1],			[BDS_DIEN_TICH_DAT_KHAC_1],			[BDS_GIA_TRI_QSD_DAT_KHAC_1_TREN_M2],			[BDS_GIA_TRI_QSD_DAT_KHAC_1],			[BDS_DAT_KHAC_2],			[BDS_DIEN_TICH_DAT_KHAC_2],			[BDS_GIA_TRI_QSD_DAT_KHAC_2_TREN_M2],			[BDS_GIA_TRI_QSD_DAT_KHAC_2],			[BDS_DAT_KHAC_3],			[BDS_DIEN_TICH_DAT_KHAC_3],			[BDS_GIA_TRI_QSD_DAT_KHAC_3_TREN_M2],			[BDS_GIA_TRI_QSD_DAT_KHAC_3],			[BDS_DIEN_TICH_SU_DUNG_RIENG],			[BDS_DIEN_TICH_SU_DUNG_CHUNG],			[BDS_THONG_TIN_CHUNG_RTF],			[BDS_THONG_TIN_CHUNG],			[BDS_GIAY_TO_RTF],			[BDS_GIAY_TO],			[BDS_NHA_THONG_TIN_CHUNG_RTF],			[BDS_NHA_THONG_TIN_CHUNG],			[BDS_NHA_GIA_TRI],			[BDS_CTXD_THONG_TIN_CHUNG_RTF],			[BDS_CTXD_THONG_TIN_CHUNG],			[BDS_CTXD_GIA_TRI],			[BDS_TSGL_KHAC_THONG_TIN_CHUNG_RTF],			[BDS_TSGL_KHAC_THONG_TIN_CHUNG],			[BDS_TSGL_KHAC_GIA_TRI],			[BDS_GIA_TRI],			[TSTC_KHAC_TEN],			[TSTC_KHAC_THONG_TIN_CHUNG_RTF],			[TSTC_KHAC_THONG_TIN_CHUNG],			[TSTC_KHAC_GIA_TRI],			[TSTC_HTTTL],
			[TSTC_KHAC_GIAY_TO],
			[BDS_CTXD_2],
			[MA_CHU_SO_HUU]
           )
     VALUES
           (--@ma_ts_the_chap			@ma_hd_vay,			@loai_chu_so_huu,			@loai_ts_the_chap,			@hinh_thuc_so_huu_cua_kh_vay,			@hgd_ten_chong,			@hgd_ns_chong,			@hgd_cmnd_chong,			@hgd_ngay_cap_cmnd_chong,			@hgd_noi_cap_cmnd_chong,			@hgd_dc_chong,			@hgd_hktt_chong,			@hgd_so_hk_chong,			@hgd_noi_cap_hk_chong,			@hgd_ngay_cap_hk_chong,			@hgd_ten_vo,			@hgd_ns_vo,			@hgd_cmnd_vo,			@hgd_ngay_cap_cmnd_vo,			@hgd_noi_cap_cmnd_vo,			@hgd_dc_vo,			@hgd_hktt_vo,			@hgd_so_hk_vo,			@hgd_noi_cap_hk_vo,			@hgd_ngay_cap_hk_vo,			@hgd_dkkd,			@hgd_dien_thoai,			@hgd_fax,			@hgd_email,			@hgd_dai_dien,			@hgd_nguoi_so_huu,			@cn_danh_xung,			@cn_ten,			@cn_ns,			@cn_cmnd,			@cn_ngay_cap_cmnd,			@cn_noi_cap_cmnd,			@cn_dc,			@cn_hktt,			@cn_so_hk,			@cn_noi_cap_hk,			@cn_ngay_cap_hk,			@cn_dkkd,			@cn_dien_thoai,			@cn_fax,			@cn_email,			@tc_ten,			@tc_dkkd,			@tc_dc,			@tc_danh_xung_dai_dien,			@tc_dai_dien,			@tc_ns_dai_dien,			@tc_chuc_vu_dai_dien,			@tc_giay_uy_quyen,			@tc_dc_dai_dien,			@tc_cmnd_dai_dien,			@tc_ngay_cap_cmnd_dai_dien,			@tc_noi_cap_cmnd_dai_dien,			@tc_hktt_dai_dien,			@tc_so_hk_dai_dien,			@tc_noi_cap_hk_dai_dien,			@tc_ngay_cap_hk_dai_dien,			@tc_dien_thoai,			@tc_fax,			@tc_email,			@ds_ten,			@ds_nhan_hieu,			@ds_thong_tin_chung_rtf,			@ds_thong_tin_chung,			@ds_giay_to,			@ds_gia_tri,			@bds_ten,			@bds_tong_dien_tich,			@bds_gia_tri_qsd_dat,			@bds_dien_tich_dat_o,			@bds_gia_tri_qsd_dat_o_tren_m2,			@bds_gia_tri_qsd_dat_o,			@bds_dat_khac_1,			@bds_dien_tich_dat_khac_1,			@bds_gia_tri_qsd_dat_khac_1_tren_m2,			@bds_gia_tri_qsd_dat_khac_1,			@bds_dat_khac_2,			@bds_dien_tich_dat_khac_2,			@bds_gia_tri_qsd_dat_khac_2_tren_m2,			@bds_gia_tri_qsd_dat_khac_2,			@bds_dat_khac_3,			@bds_dien_tich_dat_khac_3,			@bds_gia_tri_qsd_dat_khac_3_tren_m2,			@bds_gia_tri_qsd_dat_khac_3,			@bds_dien_tich_su_dung_rieng,			@bds_dien_tich_su_dung_chung,			@bds_thong_tin_chung_rtf,			@bds_thong_tin_chung,			@bds_giay_to_rtf,			@bds_giay_to,			@bds_nha_thong_tin_chung_rtf,			@bds_nha_thong_tin_chung,			@bds_nha_gia_tri,			@bds_ctxd_thong_tin_chung_rtf,			@bds_ctxd_thong_tin_chung,			@bds_ctxd_gia_tri,			@bds_tsgl_khac_thong_tin_chung_rtf,			@bds_tsgl_khac_thong_tin_chung,			@bds_tsgl_khac_gia_tri,			@bds_gia_tri,			@tstc_khac_ten,			@tstc_khac_thong_tin_chung_rtf,			@tstc_khac_thong_tin_chung,			@tstc_khac_gia_tri,			@tstc_htttl,
			@tstc_khac_giay_to,
			@bds_ctxd_2,
			@ma_chu_so_huu
		   )


